* {
    outline: none;
    scroll-padding-top: 3.125rem;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.main-title {
    text-align: center; 
    position: relative;
    margin-top: 90px;
    margin-bottom: 70px;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.main-title h2 {
    font-weight: 900;
    font-size: 40px;
    color: #323232;
}

.main-title::after {
    content: "";
    background-image: url(../images/dots.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0%; 
    z-index: -2;
}

.bg-gray {
    background: #f7f7f7;
}

/* *Navbar style */
.navbar-logo {
    font-family: 'Montserrat' 'sans-serif';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    color: #343434;
}

.nav-item {
    font-size: 14px;
    text-transform: capitalize;
    padding-inline: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: "Poppins", sans-serif;
    position: relative;
    color: #111;
    padding: 0;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #343434;
    left: 0;
    bottom: 0;
    transition: 0.5s ease;
}

.nav-link.active::after {
    width: 100%;
}


/* *home section style */
.home {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)) , url(../images/bg.jpg);
    background-size: cover;
}

.home-content h4 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 15px;
    text-align: center;
}

.home-content h2 {
    white-space: nowrap;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
}

.home-content-icons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 35px;
}

.home-content-icons a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.home-content-words {
    display: inline-block;
    overflow: hidden;
    font-weight: 500;
    transition: all 0.3s ease ;
    animation: change-width 7s 1s infinite;
}

.home-content-words::after {
    content: " Larry Daniels";
    animation: change-word 7s 1s ease infinite;
}

@keyframes change-width {
    0%,30%,60%,100% {
        width: 100%;
    }

    15%,45%,75% {
        width: 0%;
    }
}

@keyframes change-word {
    0%, 99%, 100% {
        content: " Larry Daniels";
    }
    40% {
        content: " Developer";
    }
    60% {
        content: " Designer";
    }
}


/* *About section style */
.about .container {
    width: 80%;
}

.about-image-margin {
    margin-left: 50px;
}

.about-img img {
    padding: 0 0 0 30px;
}

.about-img::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    left: 0;
    bottom: -30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -2;
}

.about h3 {
    color: #1c1c1c;
}

.subtitle {
    letter-spacing: 2px;
    color: #999;
    font-size: 14px;
}

.about-content {
    color:#748182 ;
}

.progress {
    height: 25px;
    margin-bottom: 30px;
}

.progress-bar {
    background-color: #1c1c1c;
}

.skills {
   margin-block: 40px;
}

.progress-desc {
    font-family: 'Montserrat' 'sans-serif';
    font-size: 13px;
}

.btn-custom-black {
    background-color: #1c1c1c;
    color: white;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    padding-inline: 30px;
    transition:  all .3s;
}

.btn-custom-black:hover {
    background-color: white;
    border: #1c1c1c 1px solid;
    color: black;
}

.btn-custom-white {
    background-color: white;
    color: black;
    border: #1c1c1c 1px solid;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    padding-inline: 30px;
    transition:  all .3s;
}

.btn-custom-white:hover {
    background-color: #1c1c1c;
    color: white;
    border: none;
}

/* *Services section style */
.services .container {
    width: 75%;
}

.services-item {
    flex-direction: column;
    border-radius: 8px;
    padding-inline: 39px;
    text-align: center;
}

.services-item p {
    color: #748182;
    font-size: 14px;
}

.services-icon {
    color: black;
    width: 75px;
    height: 75px;
    transition: all .3s;
}

.services-icon:hover {
   background-color: black;
   color: white;
}


/* *Portfolio section style */
.portfolio .container {
  width: 75%;
}

.nav-tabs {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    border: none;
    gap: 20px;
}

.nav-tabs .nav-link {
    border: none;
    color: #222;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    padding: 0;
}

.portfolio-card {
    position: relative;
}

.portfolio-layer {
    position: absolute;
    inset: 10px 5px 5px;
    background-color: #fffa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: 0.5s ease;
}

.portfolio-layer>* {
    transition: 0.5s ease;
}

.portfolio-layer h6 {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.portfolio-icons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.portfolio-icons>* {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #343434;
    color: #fff;
    outline: none;
    border: none;
    flex-direction: column;
}

.portfolio-card:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-card:hover .portfolio-layer>* {
    margin: 0;
}

/* *Testimonial section style */
.carousel-inner img {
    width: 85px;
    height: 85px;
}

.carousel-inner blockquote {
    color: #888;
}

.carousel-inner span {
    font-size: 12px;
    letter-spacing: 0.3;
    color: #888;
    font-weight: 600;
}

.carousel-indicators [data-bs-target] {
    all: unset;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #869791;
    opacity: 0.5;
    margin-inline: 6px;
    cursor: pointer;
}

.carousel-indicators .active {
    opacity: 1;
}

/* *Counter section style */
.content {
    padding-block: 80px;
}

.icon p {
    color: #748182;
    font-size: 14px;
    font-weight: 600;
}


/* *Team section style */
.team-card-layer {
    background-color: white;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
}

.social-icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: 0.5s all;
}

.social-icons:hover {
    background-color: white;
    color: black;
}

.card-body {
    background-color: #5B5B5B;
}

.card:hover .team-card-layer {
    transform: rotateY(180deg);
    opacity: 1;
}

.card-img img{
    transition: 0.5s scale;
}

.card-img:hover img {
    scale: 1.1;
}

/* *Contact section style */
.contact .container {
    width: 70%;
}

.contact-icons {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.contactX:hover .contact-icons {
    background-color: black;
    color: white;
}
.contactX p {
    color: #748182;
}

.contact form button {
    font-size: 13px;
}

.contact form button:hover {
    color: black;
    background-color: white;
}

.form-control {
    border: none;
    background-color: #eee;
}

.form-control:focus { 
    box-shadow: none;
    background-color: #eee;

}

/* *Footer section style */
footer {
    background-color: #1c1c1c;
    margin-top: 40px;
}

footer p{
    color: #748182;
    padding: 35px;
    font-size: 13px;
    margin-block-end: 0em;
}

